%li.card
  %h3
    = name
    - if manacost?
      .manacost= manacost
  %em
    = supertype.join(" ")
    = type.join(" ")
    - unless subtype.empty?
      = "-"
      = subtype.join(" ")
    - if power and toughness
      = [power, toughness].join("/")
  - rules.each do |rule|
    %p
      = rule.join(", ")
